/* Reset Style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: Arial, sans-serif;
    font-size: 14px;
    width:100%;
}
a,a:hover{
    color: inherit;
    text-decoration: none;
}
p{
    text-align: justify;
}
ul{
    list-style: none;
}

h3{
    text-align: center;
    margin: 14px;
}
h3{
    margin-bottom: 20px;
}
/* Header Styles*/
header{
    width: 1280px;
    margin: 0 auto;
}

/* Navigation Bar Styles */
nav{
    background-color: #039be5;
    width: 100%;
}
nav ul{
    width: 1280px;
    margin: 0 auto;
}
nav ul li{
    display: inlline-block;
}
nav a{
    padding:  10px 20px;
    color: #fff;
    display: block;
}
nav a:hover{
    background-color: #29b6f6;
    color: #fff;
}
/* Main Section Styles */
main{
    width: 1280px;
    margin: 0 auto;
}
main:after, main:before{
    content: '';
    display: table;
}
main:after{
    clear: both;
}
section{
    width: 900px;
    float: left;
    margin-right: 20px;
}
section img{
    width: 100px;height: 100px;
    padding: 5px;
    border: 1px solid #ddd;
    float: left;
    margin: 10px;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
}